<form action="/" method="POST" enctype="multipart/form-data">
  <label for="image_upload">Upload Original Image:</label>
  <input type="file" name="image_upload" id="image_upload" required />

  <label for="logo_upload">Upload Tampered Image:</label>
  <input type="file" name="logo_upload" id="logo_upload" required />

  <button type="submit">Submit</button>
</form>

<!-- Display the original and tampered images -->
<div class="row">
  <div class="col s6">
    <h5>Original Image</h5>
    <img
      src="{{ url_for('static', filename='original/original.png') }}"
      alt="Original Image"
      style="width: 100%; height: auto"
    />
  </div>
  <div class="col s6">
    <h5>Tampered Image</h5>
    <img
      src="{{ url_for('static', filename='original/tampered.png') }}"
      alt="Tampered Image"
      style="width: 100%; height: auto"
    />
  </div>
</div>
